/* nav {
  display: flex;
  justify-content: flex-end;
  background-color: #333;
  padding: 10px;
}

nav a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
} */


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  
}

input {
  margin: 5px 0;
  padding: 10px;
  width: 200px;
  border-radius: 25px;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

